openapi: 3.2.0
info:
  title: Instacart Connect Fulfillment Authentication API
  description: The Instacart Connect Fulfillment API enables retailers to integrate Instacart fulfillment capabilities directly into their e-commerce sites. It combines grocery, delivery, and pickup functionality into a single API, allowing retailers to offer full-service shopping where Instacart shoppers pick items and suggest replacements, as well as same-day or scheduled delivery and pickup options. Key endpoints include finding stores that offer delivery, listing available time slots, previewing service options, and creating delivery or pickup orders.
  version: '2.0'
  contact:
    name: Instacart Connect Support
    url: https://docs.instacart.com/connect/fulfillment/
  termsOfService: https://www.instacart.com/terms
servers:
- url: https://connect.instacart.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Endpoints for obtaining and managing OAuth 2.0 access tokens used to authenticate API requests.
paths:
  /v2/oauth/token:
    post:
      operationId: generateAccessToken
      summary: Generate an access token
      description: Generates an OAuth 2.0 access token using client credentials. The token is valid for 24 hours and must be included as a Bearer token in all subsequent API requests. During the validity period, reuse the same token rather than generating a new one.
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Access token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TokenRequest:
      type: object
      required:
      - grant_type
      - client_id
      - client_secret
      - scope
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          description: The OAuth 2.0 grant type. Must be client_credentials.
        client_id:
          type: string
          description: The client ID provided by Instacart.
        client_secret:
          type: string
          description: The client secret provided by Instacart.
        scope:
          type: string
          description: The API scope to request access for, such as connect:fulfillment.
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: The Bearer token to use for authenticating API requests.
        token_type:
          type: string
          enum:
          - Bearer
          description: The type of token issued.
        expires_in:
          type: integer
          description: The number of seconds until the token expires. Typically 86400 seconds (24 hours).
        scope:
          type: string
          description: The scope of access granted by the token.
        created_at:
          type: integer
          description: Unix timestamp indicating when the token was created.
    Error:
      type: object
      properties:
        error:
          type: string
          description: A human-readable error message.
        status:
          type: integer
          description: The HTTP status code.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token obtained from the token endpoint. Valid for 24 hours.
externalDocs:
  description: Instacart Connect Fulfillment API Documentation
  url: https://docs.instacart.com/connect/fulfillment/
